# Data Formatter for Database schema

Data formatter script to fit data into Database.

## Dependencies

In [3]:
import json
import pandas as pd

## File Paths

In [8]:
awisMetricsFilePath = './blogsAWISMetricsDbInsertion.json'
scrapedDataFilePath = './blogDataDbInsertion.json'
bloggerDomainsFilePath = '.\Bloggers domain WIP.csv'
tempBlogsAWISMetricsFilePath = './tempBlogsAWISMetricsDbInsertion.json'

## Data Format for AWIS and Blogs metrics

In [9]:
with open(awisMetricsFilePath) as json_file:
    awisMetrics = json.load(json_file)
    
with open(scrapedDataFilePath) as json_file:
    scrapedData = json.load(json_file)
    
allDomainNames = list(pd.read_csv(bloggerDomainsFilePath).domain_name)

with open(tempBlogsAWISMetricsFilePath) as json_file:
    tempBlogsAWISMetrics = json.load(json_file)

In [4]:
len(awisMetrics.get("blogs"))

205

In [5]:
len(scrapedData.get('blogs'))

180

In [6]:
scrapedData.get('blogs')[2].get("blogUrl")

'littlegreybox.net'

In [7]:
count = 0
numUrlNotFound = 0
flag = 0
tempList = []

for awisDetails in awisMetrics.get("blogs"):
    for blogDetails in scrapedData.get('blogs'):
        if awisDetails.get('blogUrl').split('.')[0] in blogDetails.get('blogUrl'):
            tempDict = blogDetails
            tempDict.update({'blogTraffic': awisDetails.get('blogTraffic')})
            tempList.append(tempDict)
            count = count + 1
            flag = 1
            break
    if not flag:
        numUrlNotFound = numUrlNotFound + 1
#         print("url not found:", awisDetails.get('blogUrl'))
    flag = 0
blogs = {'blogs': tempList}

print("Number of Blog Domains with scraped data:", count)
print("Number of Blog Domains without scraped data:", numUrlNotFound)

Number of Blog Domains with scraped data: 171
Number of Blog Domains without scraped data: 34

In [8]:
len(tempList)

171

In [9]:
# with open('./finalAwisAndBlogsDataDbInsertion.json', 'w') as outfile:
#     json.dump(blogs, outfile)

## Data Format for Entity visualisation (Rach)

In [10]:
scrapedData.get('blogs')[0].get('blogs')[0].keys()

dict_keys(['blogPostUrl', 'blogPost', 'locations', 'spacyNer', 'awsNer', 'writtenAt'])

In [11]:
scrapedData.get('blogs')[0].get('blogs')[0].get('locations')

{'country': 'Thailand',
 'cities': '',
 'placesOfInterest': [['Chinese Temple',
   'Cultural, Attractions',
   9.577891699999999,
   99.97393690000001]]}

In [12]:
# Retrieve Entity Country mapping
with open('entitiesCountryDict.json', 'r') as f:
    entitiesCountryDict = json.load(f)

In [13]:
fullEntitiesList = []
fullCountryList = []
fullBlogPostDateList = []

for blog in scrapedData.get('blogs'):
    for blogPost in blog.get('blogs'):
        blogPostEntitiesList = []
        countryList = []
        locations = blogPost.get('locations')
        
        # Process POIs
        placesOfInterest = locations.get('placesOfInterest')
        for poiData in placesOfInterest:
            poi = poiData[0]
            blogPostEntitiesList.append(poi)
    
            # Process Country
            country = entitiesCountryDict.get(poi)
            countryList.append(country)
#             countryList = countryList*len(blogPostEntitiesList)
            
        # Process Country
#         countryList = [str(locations.get('country').split(','))]
#         countryList = countryList*len(blogPostEntitiesList)
        
        # Process Date
        blogPostDateList = [blogPost.get('writtenAt')]
        blogPostDateList = blogPostDateList*len(blogPostEntitiesList)                
        
        # Append to full lists
        fullEntitiesList.extend(blogPostEntitiesList)
        fullCountryList.extend(countryList)
        fullBlogPostDateList.extend(blogPostDateList)
        
# print(fullEntitiesList)
# print(fullCountryList)
# print(fullBlogPostDateList)

In [14]:
print(len(fullCountryList))
print(len(fullEntitiesList))
print(len(fullBlogPostDateList))

1273
1273
1273

In [15]:
dateEntitiesDf = pd.DataFrame({'writtenAt': fullBlogPostDateList, 'country': fullCountryList, 'entities': fullEntitiesList}).sort_values(by='writtenAt')

In [16]:
print('Total number of rows:', len(dateEntitiesDf))
print('Number of rows without date:', len(dateEntitiesDf[dateEntitiesDf['writtenAt'] == '']))

# Remove rows without date
cleanedDateEntitiesDf = dateEntitiesDf[dateEntitiesDf['writtenAt'] != '']
print('Number of rows with date:', len(cleanedDateEntitiesDf))

Total number of rows: 1273
Number of rows without date: 181
Number of rows with date: 1092

In [17]:
monthMapping = {
    '01': 'Jan',
    '02': 'Feb',
    '03': 'Mar',
    '04': 'Apr',
    '05': 'May',
    '06': 'Jun',
    '07': 'Jul',
    '08': 'Aug',
    '09': 'Sep',
    '10': 'Oct',
    '11': 'Nov',
    '12': 'Dec'
}

In [18]:
def getMonth(date):
    return monthMapping.get(date.split('-')[1]) if len(date.split('-')) > 0 else ''

def getYear(date):
    return date.split('-')[0] if len(date.split('-')) > 0 else ''

# cleanedDateEntitiesDf['writtenAt'].apply(lambda x: getMonth(x))
cleanedDateEntitiesDf['writtenAtMth'] = cleanedDateEntitiesDf['writtenAt'].apply(lambda x: getMonth(x))
cleanedDateEntitiesDf['writtenAtYear'] = cleanedDateEntitiesDf['writtenAt'].apply(lambda x: getYear(x))

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [19]:
groupMthYearDf = cleanedDateEntitiesDf.copy()
groupMthYearDf = groupMthYearDf.groupby(['country','writtenAtMth', 'writtenAtYear', 'entities']).count().reset_index()
groupMthYearDf.rename(columns={'writtenAt': 'count'}, inplace=True)
groupMthYearDf = groupMthYearDf.sort_values(by='count', ascending=False)
print(len(groupMthYearDf))
groupMthYearDf

986

       country writtenAtMth writtenAtYear               entities  count
919   Thailand          Jul          2019     Airplane Graveyard      4
200      Japan          Jun          2016                  Osaka      3
274      Japan          Sep          2018              Brand New      3
234      Japan          May          2017                  Osaka      3
711  Singapore          Oct          2016              Chinatown      3
247      Japan          Nov          2016                  Osaka      3
95       Japan          Apr          2017                  Osaka      3
471  Singapore          Jan          2018           Orchard Road      3
298  Singapore          Apr          2017              Chinatown      3
319  Singapore          Apr          2017              Woodlands      3
978   Thailand          Sep          2016                 Lagoon      3
660  Singapore          Nov          2014              Neil Road      2
77   Indonesia          Sep          2016           Gili Islands      2
437  Singapore          Jan          2015              Chinatown      2
438  Singapore          Jan          2015     Gardens by the Bay      2
214      Japan          Mar          2018              Brand New      2
597  Singapore          Mar          2019           Orchard Road      2
154      Japan          Feb          2018                  Osaka      2
94       Japan          Apr          2017                Hozomon      2
588  Singapore          Mar          2019              Chinatown      2
659  Singapore          Nov          2014             Marina Bay      2
166      Japan          Jan          2016                  Osaka      2
912   Thailand          Jan          2019                 Lagoon      2
328  Singapore          Apr          2018           River Safari      2
890   Thailand          Aug          2017                 Lagoon      2
580  Singapore          Mar          2018              Chinatown      2
657  Singapore          Nov          2014      Bollywood Veggies      2
459  Singapore          Jan          2018              Chinatown      2
171      Japan          Jan          2018                  Osaka      2
460  Singapore          Jan          2018           Cloud Forest      2
..         ...          ...           ...                    ...    ...
367  Singapore          Dec          2013              Neil Road      1
365  Singapore          Dec          2011         Lazarus Island      1
337  Singapore          Aug          2017            Arab Street      1
364  Singapore          Dec          2011                 Istana      1
338  Singapore          Aug          2017              Chinatown      1
339  Singapore          Aug          2017           Cloud Forest      1
340  Singapore          Aug          2017              Haji Lane      1
341  Singapore          Aug          2017           Kampong Glam      1
342  Singapore          Aug          2017             Marina Bay      1
343  Singapore          Aug          2017           Merlion Park      1
344  Singapore          Aug          2017           Night Safari      1
345  Singapore          Aug          2017      North Bridge Road      1
346  Singapore          Aug          2017           Orchard Road      1
347  Singapore          Aug          2017              Woodlands      1
348  Singapore          Aug          2018            Arab Street      1
349  Singapore          Aug          2018           Changi Beach      1
351  Singapore          Aug          2018           Cloud Forest      1
352  Singapore          Aug          2018        East Coast Park      1
353  Singapore          Aug          2018           Fort Canning      1
354  Singapore          Aug          2018           Kampong Glam      1
355  Singapore          Aug          2018           Little India      1
356  Singapore          Aug          2018  Malay Heritage Centre      1
357  Singapore          Aug          2018             Marina Bay      1
358  Singapore          Aug          2018           Orchard Road      1
359  Singapore          Aug          2018         Robertson Quay      1
360  Singapore          Aug          2019              Chinatown      1
361  Singapore          Dec          2009              Chinatown      1
362  Singapore          Dec          2010           Orchard Road      1
363  Singapore          Dec          2011              Chinatown      1
985   Thailand          Sep          2019            Giant Swing      1

[986 rows x 5 columns]

In [20]:
groupMthYearDf[groupMthYearDf['entities'] == 'Airplane Graveyard']

      country writtenAtMth writtenAtYear            entities  count
919  Thailand          Jul          2019  Airplane Graveyard      4
897  Thailand          Dec          2018  Airplane Graveyard      1
885  Thailand          Apr          2019  Airplane Graveyard      1
927  Thailand          Jun          2019  Airplane Graveyard      1
952  Thailand          Nov          2018  Airplane Graveyard      1

In [45]:
groupMthYearDf[groupMthYearDf['country'] == 'Thailand'].groupby(['entities', 'writtenAtYear']).sum().sort_values(by='count', ascending=False)

                                       count
entities                writtenAtYear
Lagoon                  2017               6
                        2016               6
Airplane Graveyard      2019               6
Lagoon                  2018               5
                        2014               4
Mai Khao Beach          2018               4
FAST TRACK              2018               3
Lagoon                  2019               3
Mai Khao Beach          2016               2
                        2017               2
Giant Swing             2018               2
Malibu beach            2016               2
Seafood Market          2018               2
Sukhumvit               2012               2
                        2014               2
The Grand Palace        2018               2
Lagoon                  2012               2
Airplane Graveyard      2018               2
China Town              2017               2
                        2018               2
Chao Phraya River       2018               2
FAST TRACK              2017               2
Freedom Beach           2016               1
Patong Beach            2009               1
                        2017               1
Railay Beach            2011               1
                        2018               1
Safari World            2012               1
Sathorn Pier            2012               1
Seafood Market          2013               1
...                                      ...
Wat Pathum Wanaram      2017               1
Wat Phra Singh          2015               1
Patong Beach            2015               1
Chiang Mai Zoo          2015               1
Chaweng Beach           2019               1
Freedom Beach           2018               1
Funarium                2018               1
Fantasia Lagoon         2013               1
Giant Swing             2019               1
Kamala Beach            2019               1
Karon Beach             2017               1
Kata Beach              2013               1
Khao San Road           2009               1
                        2010               1
                        2016               1
                        2018               1
Lagoon                  2010               1
                        2011               1
FAST TRACK              2019               1
Lagoon                  2013               1
                        2015               1
FAST TRACK              2015               1
Coral Island            2018               1
Chinese Temple          2016               1
Lamai Beach             2018               1
Lumpini Park            2018               1
Madame Tussauds Bangkok 2012               1
Mai Khao Beach          2015               1
China Town              2016               1
Windmill Viewpoint      2015               1

[75 rows x 1 columns]

In [40]:
groupMthYearDf[groupMthYearDf['country'] == 'South Korea'].groupby('entities').sum().sort_values(by='count', ascending=False)

                    count
entities
Lotte World             9
Sinchon                 7
Haebangchon             6
Itaewon                 6
The Gallery             3
The Arc                 2
Cheongnaho Lake         1
Little Tokyo            1
Starfield Library       1
Postal Museum           1
Korea House             1
D Museum                1
Jongmyo Shrine          1
Gwanghwamun Square      1
Gwanghwamun Gate        1
Garosu-gil              1
Deoksugung              1
Unhyeongung             1

In [ ]:
groupMthYearDf[groupMthYearDf['country'] == 'Singapore'].groupby('entities').sum().sort_values(by='count', ascending=False)

In [23]:
dateEntitiesDict = {}
for index, row in groupMthYearDf.iterrows():
#     dateEntitiesDict.update({row['writtenAt']: {row['entities']: row['count']}})

    country = row['country']
    year = row['writtenAtYear']
    mth = row['writtenAtMth']
    entity = row['entities']
    entityCount = row['count']
    
    
    if country not in dateEntitiesDict.keys():
        dateEntitiesDict.update({
            country: {
                year: {
                    'entities': {
                        entity : [mth, entityCount]
                    }
                }
            }
        })
    elif year not in dateEntitiesDict.get(country).keys():
        dateEntitiesDict.get(country).update({
            year: {
                    'entities': {
                        entity : [mth, entityCount]
                    }
                }
        })
    elif entity not in dateEntitiesDict.get(country).get(year).get('entities').keys():
#         print(entity)
#         print(mth, year)
#         print(dateEntitiesDict.get(country).get(year).get('entities').keys())
#         print('\n')
        dateEntitiesDict.get(country).get(year).get('entities').update({
            entity : [mth, entityCount]
        })
    else:
#         print(entity)
#         print(mth, year)
        entities = dateEntitiesDict.get(country).get(year).get('entities')
        if entities.get(entity):
            updatedEntities = entities.get(entity)
            updatedEntities.append([mth, entityCount])
            entities.update({
                entity : updatedEntities
            })
        else:
            entities.update({
                entity :[mth, entityCount]
            })
# dateEntitiesDict

In [21]:
# cleanedDateEntitiesDf = cleanedDateEntitiesDf.sort_values('writtenAt', ascending=False)
# cleanedDateEntitiesDf

In [22]:
# groupByMthYearDf = cleanedDateEntitiesDf.groupby(['country', 'writtenAtMth', 'writtenAtYear', 'entities']).count().reset_index().sort_values(by='count', ascending=False)
# groupByMthYearDf

In [24]:
# Writes to output json 
# with open('dateEntitiesDbInsertion.json', 'w') as fp:
#     json.dump(dateEntitiesDict, fp)

## Data Format for Word Cloud (Des)

In [25]:
dateOneDayBefore = '2019-09-02'
dateSevenDaysBefore = '2019-08-27'
dateOneMthBefore = '2019-08-03'
dateThreeMthsBefore = '2019-06-02'

In [26]:
oneDayBeforeDf = cleanedDateEntitiesDf[cleanedDateEntitiesDf['writtenAt'] == dateOneDayBefore]
print(len(oneDayBeforeDf))
oneDayBeforeDf.head()

34

,writtenAt,country,entities,writtenAtMth,writtenAtYear
114,2019-09-02,Singapore,River Safari,Sep,2019
107,2019-09-02,Singapore,Asian Civilisations Museum,Sep,2019
112,2019-09-02,Singapore,Gardens by the Bay,Sep,2019
111,2019-09-02,Singapore,Marina Bay,Sep,2019
104,2019-09-02,Singapore,Malay Heritage Centre,Sep,2019

In [27]:
groupByOneDayBeforeEntityDf = oneDayBeforeDf.groupby(['entities']).count().reset_index()
groupByOneDayBeforeEntityDf.rename(columns={'writtenAt': 'count'}, inplace=True)
groupByOneDayBeforeEntityDf = groupByOneDayBeforeEntityDf[['entities', 'count']].sort_values(by='count', ascending=False)
groupByOneDayBeforeEntityDf

# groupByOneDayBeforeEntityDf = oneDayBeforeDf.groupby(['entities']).count().reset_index().sort_values(by='count', ascending=False)
# groupByOneDayBeforeEntityDf = groupByOneDayBeforeEntityDf[['entities', 'count']]
# print(len(groupByOneDayBeforeEntityDf))
# groupByOneDayBeforeEntityDf

                        entities  count
0     Asian Civilisations Museum      1
25                         Osaka      1
19                    Marina Bay      1
20           Maxwell Food Centre      1
21                  Merlion Park      1
22  National Museum of Singapore      1
23                  Night Safari      1
24                  Orchard Road      1
26                  River Safari      1
1              Bollywood Veggies      1
27                 Sultan Mosque      1
28  Sungei Buloh Wetland Reserve      1
29               Supertree Grove      1
30                 Tanjong Pagar      1
31                     The Intan      1
32                     UOB Plaza      1
18                Marina Barrage      1
17         Malay Heritage Centre      1
16          MacRitchie Reservoir      1
15                  Little India      1
14                   Kusu Island      1
13            Kranji Countryside      1
12              Jurong Bird Park      1
11        Indian Heritage Centre      1
10                   ION Orchard      1
9                    Hay Dairies      1
8                      Haji Lane      1
7              Golden Mile Tower      1
6                    Giant Swing      1
5             Gardens by the Bay      1
4                      Chinatown      1
3                        Chijmes      1
2                      Brand New      1
33                     Woodlands      1

In [28]:
sevenDayBeforeDf = cleanedDateEntitiesDf[cleanedDateEntitiesDf['writtenAt'] >= dateSevenDaysBefore]
print(len(sevenDayBeforeDf))
sevenDayBeforeDf.head()

34

,writtenAt,country,entities,writtenAtMth,writtenAtYear
114,2019-09-02,Singapore,River Safari,Sep,2019
107,2019-09-02,Singapore,Asian Civilisations Museum,Sep,2019
112,2019-09-02,Singapore,Gardens by the Bay,Sep,2019
111,2019-09-02,Singapore,Marina Bay,Sep,2019
104,2019-09-02,Singapore,Malay Heritage Centre,Sep,2019

In [29]:
groupBySevenDaysBeforeEntityDf = sevenDayBeforeDf.groupby(['entities']).count().reset_index()
groupBySevenDaysBeforeEntityDf.rename(columns={'writtenAt': 'count'}, inplace=True)
groupBySevenDaysBeforeEntityDf = groupBySevenDaysBeforeEntityDf[['entities', 'count']].sort_values(by='count', ascending=False)
groupBySevenDaysBeforeEntityDf

# groupBySevenDaysBeforeEntityDf = sevenDayBeforeDf.groupby(['entities']).count().reset_index().sort_values(by='count', ascending=False)
# print(len(groupBySevenDaysBeforeEntityDf))
# groupBySevenDaysBeforeEntityDf

                        entities  count
0     Asian Civilisations Museum      1
25                         Osaka      1
19                    Marina Bay      1
20           Maxwell Food Centre      1
21                  Merlion Park      1
22  National Museum of Singapore      1
23                  Night Safari      1
24                  Orchard Road      1
26                  River Safari      1
1              Bollywood Veggies      1
27                 Sultan Mosque      1
28  Sungei Buloh Wetland Reserve      1
29               Supertree Grove      1
30                 Tanjong Pagar      1
31                     The Intan      1
32                     UOB Plaza      1
18                Marina Barrage      1
17         Malay Heritage Centre      1
16          MacRitchie Reservoir      1
15                  Little India      1
14                   Kusu Island      1
13            Kranji Countryside      1
12              Jurong Bird Park      1
11        Indian Heritage Centre      1
10                   ION Orchard      1
9                    Hay Dairies      1
8                      Haji Lane      1
7              Golden Mile Tower      1
6                    Giant Swing      1
5             Gardens by the Bay      1
4                      Chinatown      1
3                        Chijmes      1
2                      Brand New      1
33                     Woodlands      1

In [30]:
oneMthBeforeDf = cleanedDateEntitiesDf[cleanedDateEntitiesDf['writtenAt'] >= dateOneMthBefore]
print(len(oneMthBeforeDf))
oneMthBeforeDf.tail()

40

      writtenAt    country             entities writtenAtMth writtenAtYear
121  2019-09-02  Singapore          ION Orchard          Sep          2019
120  2019-09-02  Singapore         Orchard Road          Sep          2019
119  2019-09-02  Singapore    Golden Mile Tower          Sep          2019
117  2019-09-02  Singapore     Jurong Bird Park          Sep          2019
105  2019-09-02  Singapore  Maxwell Food Centre          Sep          2019

In [31]:
groupByOneMthBeforeEntityDf = oneMthBeforeDf.groupby(['entities']).count().reset_index()
groupByOneMthBeforeEntityDf.rename(columns={'writtenAt': 'count'}, inplace=True)
groupByOneMthBeforeEntityDf = groupByOneMthBeforeEntityDf[['entities', 'count']].sort_values(by='count', ascending=False)
groupByOneMthBeforeEntityDf

# groupByOneMthBeforeEntityDf = oneMthBeforeDf.groupby(['entities']).count().reset_index().sort_values(by='count', ascending=False)
# print(len(groupByOneMthBeforeEntityDf))
# groupByOneMthBeforeEntityDf

                        entities  count
2                      Brand New      3
26                         Osaka      3
4                      Chinatown      2
0     Asian Civilisations Museum      1
27                  River Safari      1
21           Maxwell Food Centre      1
22                  Merlion Park      1
23  National Museum of Singapore      1
24                  Night Safari      1
25                  Orchard Road      1
28                 Sultan Mosque      1
19                Marina Barrage      1
29  Sungei Buloh Wetland Reserve      1
30               Supertree Grove      1
31                 Tanjong Pagar      1
32                     The Intan      1
33                     UOB Plaza      1
20                    Marina Bay      1
17          MacRitchie Reservoir      1
18         Malay Heritage Centre      1
1              Bollywood Veggies      1
16                  Little India      1
15                   Kusu Island      1
14            Kranji Countryside      1
13                  Kamala Beach      1
12              Jurong Bird Park      1
11        Indian Heritage Centre      1
10                   ION Orchard      1
9                    Hay Dairies      1
8                      Haji Lane      1
7              Golden Mile Tower      1
6                    Giant Swing      1
5             Gardens by the Bay      1
3                        Chijmes      1
34                     Woodlands      1

In [32]:
threeMthsBeforeDf = cleanedDateEntitiesDf[cleanedDateEntitiesDf['writtenAt'] >= dateThreeMthsBefore]
print(len(threeMthsBeforeDf))
threeMthsBeforeDf.head()

67

       writtenAt    country            entities writtenAtMth writtenAtYear
1060  2019-06-08  Singapore           Chinatown          Jun          2019
1061  2019-06-08  Singapore  Gardens by the Bay          Jun          2019
1125  2019-06-10   Thailand              Lagoon          Jun          2019
444   2019-06-16      Japan              Colony          Jun          2019
443   2019-06-16      Japan           Brand New          Jun          2019

In [33]:
groupByThreeMthsBeforeEntityDf = threeMthsBeforeDf.groupby(['entities']).count().reset_index()
groupByThreeMthsBeforeEntityDf.rename(columns={'writtenAt': 'count'}, inplace=True)
groupByThreeMthsBeforeEntityDf = groupByThreeMthsBeforeEntityDf[['entities', 'count']].sort_values(by='count', ascending=False)
groupByThreeMthsBeforeEntityDf


# groupByThreeMthsBeforeEntityDf = threeMthsBeforeDf.groupby(['entities']).count().reset_index().sort_values(by='count', ascending=False)
# print(len(groupByThreeMthsBeforeEntityDf))
# groupByThreeMthsBeforeEntityDf

                        entities  count
3                      Brand New      6
0             Airplane Graveyard      5
6                      Chinatown      4
37                         Osaka      3
13            Gardens by the Bay      2
43                 Tanjong Pagar      2
30                    Marina Bay      2
29                Marina Barrage      2
47                     Woodlands      2
9                East Coast Park      1
38              Peranakan Museum      1
31           Maxwell Food Centre      1
32                  Merlion Park      1
33                 Mount Rinjani      1
34  National Museum of Singapore      1
35                  Night Safari      1
36                  Orchard Road      1
4                  Chaweng Beach      1
39                  River Safari      1
7                   Cloud Forest      1
40                 Sultan Mosque      1
41  Sungei Buloh Wetland Reserve      1
42               Supertree Grove      1
2              Bollywood Veggies      1
44                     The Intan      1
45                       Trinity      1
46                     UOB Plaza      1
5                        Chijmes      1
28         Malay Heritage Centre      1
10                Esplanade Park      1
18                   Hay Dairies      1
11                    FAST TRACK      1
12                  Flower Power      1
8                         Colony      1
14                   Giant Swing      1
15                  Gili Islands      1
16             Golden Mile Tower      1
17                     Haji Lane      1
19                   ION Orchard      1
27          MacRitchie Reservoir      1
20        Indian Heritage Centre      1
21              Jurong Bird Park      1
22                  Kamala Beach      1
23            Kranji Countryside      1
1     Asian Civilisations Museum      1
25                        Lagoon      1
26                  Little India      1
24                   Kusu Island      1

In [34]:
finalTimePeriodEntitiesDict = {}

finalTimePeriodEntitiesDict.update({
                                    'oneDay': {
                                        'entities': dict(zip(groupByOneDayBeforeEntityDf['entities'], groupByOneDayBeforeEntityDf['count']))
                                    }
})

finalTimePeriodEntitiesDict.update({
                    'sevenDays': {
                        'entities': dict(zip(groupBySevenDaysBeforeEntityDf['entities'], groupBySevenDaysBeforeEntityDf['count']))
                    }
})

finalTimePeriodEntitiesDict.update({
                    'oneMth': {
                        'entities': dict(zip(groupByOneMthBeforeEntityDf['entities'], groupByOneMthBeforeEntityDf['count']))
                    }
})

finalTimePeriodEntitiesDict.update({
                    'threeMth': {
                        'entities': dict(zip(groupByThreeMthsBeforeEntityDf['entities'], groupByThreeMthsBeforeEntityDf['count']))
                    }
})

finalTimePeriodEntitiesDict

{'oneDay': {'entities': {'Asian Civilisations Museum': 1,
   'Osaka': 1,
   'Marina Bay': 1,
   'Maxwell Food Centre': 1,
   'Merlion Park': 1,
   'National Museum of Singapore': 1,
   'Night Safari': 1,
   'Orchard Road': 1,
   'River Safari': 1,
   'Bollywood Veggies': 1,
   'Sultan Mosque': 1,
   'Sungei Buloh Wetland Reserve': 1,
   'Supertree Grove': 1,
   'Tanjong Pagar': 1,
   'The Intan': 1,
   'UOB Plaza': 1,
   'Marina Barrage': 1,
   'Malay Heritage Centre': 1,
   'MacRitchie Reservoir': 1,
   'Little India': 1,
   'Kusu Island': 1,
   'Kranji Countryside': 1,
   'Jurong Bird Park': 1,
   'Indian Heritage Centre': 1,
   'ION Orchard': 1,
   'Hay Dairies': 1,
   'Haji Lane': 1,
   'Golden Mile Tower': 1,
   'Giant Swing': 1,
   'Gardens by the Bay': 1,
   'Chinatown': 1,
   'Chijmes': 1,
   'Brand New': 1,
   'Woodlands': 1}},
 'sevenDays': {'entities': {'Asian Civilisations Museum': 1,
   'Osaka': 1,
   'Marina Bay': 1,
   'Maxwell Food Centre': 1,
   'Merlion Park': 1,
   'National Museum of Singapore': 1,
   'Night Safari': 1,
   'Orchard Road': 1,
   'River Safari': 1,
   'Bollywood Veggies': 1,
   'Sultan Mosque': 1,
   'Sungei Buloh Wetland Reserve': 1,
   'Supertree Grove': 1,
   'Tanjong Pagar': 1,
   'The Intan': 1,
   'UOB Plaza': 1,
   'Marina Barrage': 1,
   'Malay Heritage Centre': 1,
   'MacRitchie Reservoir': 1,
   'Little India': 1,
   'Kusu Island': 1,
   'Kranji Countryside': 1,
   'Jurong Bird Park': 1,
   'Indian Heritage Centre': 1,
   'ION Orchard': 1,
   'Hay Dairies': 1,
   'Haji Lane': 1,
   'Golden Mile Tower': 1,
   'Giant Swing': 1,
   'Gardens by the Bay': 1,
   'Chinatown': 1,
   'Chijmes': 1,
   'Brand New': 1,
   'Woodlands': 1}},
 'oneMth': {'entities': {'Brand New': 3,
   'Osaka': 3,
   'Chinatown': 2,
   'Asian Civilisations Museum': 1,
   'River Safari': 1,
   'Maxwell Food Centre': 1,
   'Merlion Park': 1,
   'National Museum of Singapore': 1,
   'Night Safari': 1,
   'Orchard Road': 1,
   'Sultan Mosque': 1,
   'Marina Barrage': 1,
   'Sungei Buloh Wetland Reserve': 1,
   'Supertree Grove': 1,
   'Tanjong Pagar': 1,
   'The Intan': 1,
   'UOB Plaza': 1,
   'Marina Bay': 1,
   'MacRitchie Reservoir': 1,
   'Malay Heritage Centre': 1,
   'Bollywood Veggies': 1,
   'Little India': 1,
   'Kusu Island': 1,
   'Kranji Countryside': 1,
   'Kamala Beach': 1,
   'Jurong Bird Park': 1,
   'Indian Heritage Centre': 1,
   'ION Orchard': 1,
   'Hay Dairies': 1,
   'Haji Lane': 1,
   'Golden Mile Tower': 1,
   'Giant Swing': 1,
   'Gardens by the Bay': 1,
   'Chijmes': 1,
   'Woodlands': 1}},
 'threeMth': {'entities': {'Brand New': 6,
   'Airplane Graveyard': 5,
   'Chinatown': 4,
   'Osaka': 3,
   'Gardens by the Bay': 2,
   'Tanjong Pagar': 2,
   'Marina Bay': 2,
   'Marina Barrage': 2,
   'Woodlands': 2,
   'East Coast Park': 1,
   'Peranakan Museum': 1,
   'Maxwell Food Centre': 1,
   'Merlion Park': 1,
   'Mount Rinjani': 1,
   'National Museum of Singapore': 1,
   'Night Safari': 1,
   'Orchard Road': 1,
   'Chaweng Beach': 1,
   'River Safari': 1,
   'Cloud Forest': 1,
   'Sultan Mosque': 1,
   'Sungei Buloh Wetland Reserve': 1,
   'Supertree Grove': 1,
   'Bollywood Veggies': 1,
   'The Intan': 1,
   'Trinity': 1,
   'UOB Plaza': 1,
   'Chijmes': 1,
   'Malay Heritage Centre': 1,
   'Esplanade Park': 1,
   'Hay Dairies': 1,
   'FAST TRACK': 1,
   'Flower Power': 1,
   'Colony': 1,
   'Giant Swing': 1,
   'Gili Islands': 1,
   'Golden Mile Tower': 1,
   'Haji Lane': 1,
   'ION Orchard': 1,
   'MacRitchie Reservoir': 1,
   'Indian Heritage Centre': 1,
   'Jurong Bird Park': 1,
   'Kamala Beach': 1,
   'Kranji Countryside': 1,
   'Asian Civilisations Museum': 1,
   'Lagoon': 1,
   'Little India': 1,
   'Kusu Island': 1}}}

In [90]:
# Writes to output json 
# with open('timePeriodEntitiesDbInsertion.json', 'w') as fp:
#     json.dump(finalTimePeriodEntitiesDict, fp)

## Data Format for MedianLoadTime Comparison Chart (Des)

In [55]:
from statistics import median

medianLoadTimeList = []
medianLoadTimeValuesList = []
for blog in awisMetrics.get('blogs'):
    blogUrl = blog.get('blogUrl')
    blogMedianLoadTime = blog.get('blogTraffic').get('contentData').get('speed').get('medianLoadTime')
    if blogMedianLoadTime:
        medianLoadTimeList.append({
            'name': blogUrl,
            'medianLoadTime': blogMedianLoadTime
        }) 
        medianLoadTimeValuesList.append(blogMedianLoadTime)
print(len(medianLoadTimeList))
print(medianLoadTimeList)

92
[{'name': 'loveandroad.com', 'medianLoadTime': 2266}, {'name': 'laughtraveleat.com', 'medianLoadTime': 6593}, {'name': 'littlegreybox.net', 'medianLoadTime': 7185}, {'name': 'mitsueki.sg', 'medianLoadTime': 4872}, {'name': 'thetravelintern.com', 'medianLoadTime': 3143}, {'name': 'belaroundtheworld.com', 'medianLoadTime': 4548}, {'name': '2bearbear.com', 'medianLoadTime': 1880}, {'name': 'flyhoneystars.com', 'medianLoadTime': 8781}, {'name': 'wanderingearl.com', 'medianLoadTime': 2304}, {'name': 'travelinspiration360.com', 'medianLoadTime': 8680}, {'name': 'iwandered.net', 'medianLoadTime': 6277}, {'name': 'wanderlex.com', 'medianLoadTime': 7452}, {'name': 'cheekiemonkie.net', 'medianLoadTime': 4999}, {'name': 'irene-travelogue.com', 'medianLoadTime': 2330}, {'name': 'floraisabelle.com', 'medianLoadTime': 834}, {'name': 'travelerfolio.com', 'medianLoadTime': 3609}, {'name': 'wildjunket.com', 'medianLoadTime': 4900}, {'name': 'sunriseodyssey.com', 'medianLoadTime': 5028}, {'name': 'havehalalwilltravel.com', 'medianLoadTime': 2537}, {'name': 'expertworldtravel.com', 'medianLoadTime': 956}, {'name': 'scarletscribs.wordpress.com', 'medianLoadTime': 2531}, {'name': 'createwithmom.com', 'medianLoadTime': 12460}, {'name': 'justonewayticket.com', 'medianLoadTime': 6697}, {'name': 'amatteroftaste.me', 'medianLoadTime': 7454}, {'name': 'passportchop.com', 'medianLoadTime': 7426}, {'name': 'livelaughtravel.net', 'medianLoadTime': 1574}, {'name': 'detourista.com', 'medianLoadTime': 1498}, {'name': 'singaporego.com', 'medianLoadTime': 1655}, {'name': 'alvinology.com', 'medianLoadTime': 3467}, {'name': 'ourlittlesmarties.com', 'medianLoadTime': 3949}, {'name': 'aspirantsg.com', 'medianLoadTime': 7825}, {'name': 'sparklette.net', 'medianLoadTime': 1689}, {'name': 'lydiascapes.com', 'medianLoadTime': 2884}, {'name': 'lifestinymiracles.com', 'medianLoadTime': 4008}, {'name': 'thewackyduo.com', 'medianLoadTime': 1827}, {'name': 'dereklow.co', 'medianLoadTime': 1094}, {'name': 'bernardthetraveller.com', 'medianLoadTime': 2570}, {'name': 'danflyingsolo.com', 'medianLoadTime': 4963}, {'name': 'drewbinsky.com', 'medianLoadTime': 1503}, {'name': 'uncorneredmarket.com', 'medianLoadTime': 3946}, {'name': 'heynadine.com', 'medianLoadTime': 2349}, {'name': 'travelsofadam.com', 'medianLoadTime': 2242}, {'name': 'adventurouskate.com', 'medianLoadTime': 1955}, {'name': 'breathedreamgo.com', 'medianLoadTime': 1192}, {'name': 'mccooltravel.com', 'medianLoadTime': 2901}, {'name': 'travel-made-simple.com', 'medianLoadTime': 3225}, {'name': 'aliadventures.com', 'medianLoadTime': 5608}, {'name': 'aroundtheworldl.com', 'medianLoadTime': 1673}, {'name': 'melissackoh.com', 'medianLoadTime': 2812}, {'name': 'misstamchiak.com', 'medianLoadTime': 2466}, {'name': 'camemberu.com', 'medianLoadTime': 2211}, {'name': 'passionpassport.com', 'medianLoadTime': 917}, {'name': 'theshutterwhale.com', 'medianLoadTime': 2900}, {'name': 'runawaybella.com', 'medianLoadTime': 4558}, {'name': 'agirlandabaldtraveller.com', 'medianLoadTime': 2414}, {'name': 'theoccasionaltraveller.com', 'medianLoadTime': 2054}, {'name': 'facebook.com', 'medianLoadTime': 3693}, {'name': 'nomadicmatt.com', 'medianLoadTime': 1990}, {'name': 'livingthedreamrtw.com', 'medianLoadTime': 1752}, {'name': 'legalnomads.com', 'medianLoadTime': 3090}, {'name': 'roadsandkingdoms.com', 'medianLoadTime': 2287}, {'name': 'ytravelblog.com', 'medianLoadTime': 2947}, {'name': 'greenpearls.com', 'medianLoadTime': 2839}, {'name': 'whywaittoseetheworld.com', 'medianLoadTime': 4742}, {'name': 'joaoleitao.com', 'medianLoadTime': 1824}, {'name': 'virtualwayfarer.com', 'medianLoadTime': 5236}, {'name': 'theblondeabroad.com', 'medianLoadTime': 2930}, {'name': 'bemytravelmuse.com', 'medianLoadTime': 2023}, {'name': 'theintrepidguide.com', 'medianLoadTime': 7864}, {'name': 'familyadventureproject.org', 'medianLoadTime': 1500}, {'name': 'wanderlustchloe.com', 'medianLoadTime': 2175}, {'name': 'bigworldsmallpockets.com', 'medianLoadTime': 2537}, {'name': 'wesaidgotravel.com', 'medianLoadTime': 3073}, {'name': 'zewanderingfrogs.com', 'medianLoadTime': 6059}, {'name': 'gottakeepmovin.com', 'medianLoadTime': 3033}, {'name': 'handluggageonly.co.uk', 'medianLoadTime': 3633}, {'name': 'iamaileen.com', 'medianLoadTime': 4557}, {'name': 'indianajo.com', 'medianLoadTime': 2977}, {'name': 'theinsatiabletraveler.com', 'medianLoadTime': 4952}, {'name': 'jessieonajourney.com', 'medianLoadTime': 4780}, {'name': 'keepcalmandtravel.com', 'medianLoadTime': 4380}, {'name': 'alittleadrift.com', 'medianLoadTime': 1356}, {'name': 'localadventurer.com', 'medianLoadTime': 2749}, {'name': 'marocmama.com', 'medianLoadTime': 2419}, {'name': 'betsiworld.com', 'medianLoadTime': 2155}, {'name': 'travelwiththesmile.com', 'medianLoadTime': 1797}, {'name': 'travelbooksfood.com', 'medianLoadTime': 3624}, {'name': 'taylorstracks.com', 'medianLoadTime': 3323}, {'name': 'thetravellingchilli.com', 'medianLoadTime': 4791}, {'name': 'silverbackpacker.com', 'medianLoadTime': 7376}, {'name': 'theworldpursuit.com', 'medianLoadTime': 1818}, {'name': 'cassidysadventures.com', 'medianLoadTime': 4265}]

In [58]:
finalMedianLoadTimeDict = {
    'medianLoadTimeAllBlogs': median(medianLoadTimeValuesList),
    'medianLoadTIme': medianLoadTimeList
}
finalMedianLoadTimeDict

{'medianLoadTimeAllBlogs': 2938.5,
 'medianLoadTIme': [{'name': 'loveandroad.com', 'medianLoadTime': 2266},
  {'name': 'laughtraveleat.com', 'medianLoadTime': 6593},
  {'name': 'littlegreybox.net', 'medianLoadTime': 7185},
  {'name': 'mitsueki.sg', 'medianLoadTime': 4872},
  {'name': 'thetravelintern.com', 'medianLoadTime': 3143},
  {'name': 'belaroundtheworld.com', 'medianLoadTime': 4548},
  {'name': '2bearbear.com', 'medianLoadTime': 1880},
  {'name': 'flyhoneystars.com', 'medianLoadTime': 8781},
  {'name': 'wanderingearl.com', 'medianLoadTime': 2304},
  {'name': 'travelinspiration360.com', 'medianLoadTime': 8680},
  {'name': 'iwandered.net', 'medianLoadTime': 6277},
  {'name': 'wanderlex.com', 'medianLoadTime': 7452},
  {'name': 'cheekiemonkie.net', 'medianLoadTime': 4999},
  {'name': 'irene-travelogue.com', 'medianLoadTime': 2330},
  {'name': 'floraisabelle.com', 'medianLoadTime': 834},
  {'name': 'travelerfolio.com', 'medianLoadTime': 3609},
  {'name': 'wildjunket.com', 'medianLoadTime': 4900},
  {'name': 'sunriseodyssey.com', 'medianLoadTime': 5028},
  {'name': 'havehalalwilltravel.com', 'medianLoadTime': 2537},
  {'name': 'expertworldtravel.com', 'medianLoadTime': 956},
  {'name': 'scarletscribs.wordpress.com', 'medianLoadTime': 2531},
  {'name': 'createwithmom.com', 'medianLoadTime': 12460},
  {'name': 'justonewayticket.com', 'medianLoadTime': 6697},
  {'name': 'amatteroftaste.me', 'medianLoadTime': 7454},
  {'name': 'passportchop.com', 'medianLoadTime': 7426},
  {'name': 'livelaughtravel.net', 'medianLoadTime': 1574},
  {'name': 'detourista.com', 'medianLoadTime': 1498},
  {'name': 'singaporego.com', 'medianLoadTime': 1655},
  {'name': 'alvinology.com', 'medianLoadTime': 3467},
  {'name': 'ourlittlesmarties.com', 'medianLoadTime': 3949},
  {'name': 'aspirantsg.com', 'medianLoadTime': 7825},
  {'name': 'sparklette.net', 'medianLoadTime': 1689},
  {'name': 'lydiascapes.com', 'medianLoadTime': 2884},
  {'name': 'lifestinymiracles.com', 'medianLoadTime': 4008},
  {'name': 'thewackyduo.com', 'medianLoadTime': 1827},
  {'name': 'dereklow.co', 'medianLoadTime': 1094},
  {'name': 'bernardthetraveller.com', 'medianLoadTime': 2570},
  {'name': 'danflyingsolo.com', 'medianLoadTime': 4963},
  {'name': 'drewbinsky.com', 'medianLoadTime': 1503},
  {'name': 'uncorneredmarket.com', 'medianLoadTime': 3946},
  {'name': 'heynadine.com', 'medianLoadTime': 2349},
  {'name': 'travelsofadam.com', 'medianLoadTime': 2242},
  {'name': 'adventurouskate.com', 'medianLoadTime': 1955},
  {'name': 'breathedreamgo.com', 'medianLoadTime': 1192},
  {'name': 'mccooltravel.com', 'medianLoadTime': 2901},
  {'name': 'travel-made-simple.com', 'medianLoadTime': 3225},
  {'name': 'aliadventures.com', 'medianLoadTime': 5608},
  {'name': 'aroundtheworldl.com', 'medianLoadTime': 1673},
  {'name': 'melissackoh.com', 'medianLoadTime': 2812},
  {'name': 'misstamchiak.com', 'medianLoadTime': 2466},
  {'name': 'camemberu.com', 'medianLoadTime': 2211},
  {'name': 'passionpassport.com', 'medianLoadTime': 917},
  {'name': 'theshutterwhale.com', 'medianLoadTime': 2900},
  {'name': 'runawaybella.com', 'medianLoadTime': 4558},
  {'name': 'agirlandabaldtraveller.com', 'medianLoadTime': 2414},
  {'name': 'theoccasionaltraveller.com', 'medianLoadTime': 2054},
  {'name': 'facebook.com', 'medianLoadTime': 3693},
  {'name': 'nomadicmatt.com', 'medianLoadTime': 1990},
  {'name': 'livingthedreamrtw.com', 'medianLoadTime': 1752},
  {'name': 'legalnomads.com', 'medianLoadTime': 3090},
  {'name': 'roadsandkingdoms.com', 'medianLoadTime': 2287},
  {'name': 'ytravelblog.com', 'medianLoadTime': 2947},
  {'name': 'greenpearls.com', 'medianLoadTime': 2839},
  {'name': 'whywaittoseetheworld.com', 'medianLoadTime': 4742},
  {'name': 'joaoleitao.com', 'medianLoadTime': 1824},
  {'name': 'virtualwayfarer.com', 'medianLoadTime': 5236},
  {'name': 'theblondeabroad.com', 'medianLoadTime': 2930},
  {'name': 'bemytravelmuse.com', 'medianLoadTime': 2023},
  {'name': 'theintrepidguide.com', 'medianLoadTime': 7864},
  {'name': 'familyadventureproject.org', 'medianLoadTime': 1500},
  {'name': 'wanderlustchloe.com', 'medianLoadTime': 2175},
  {'name': 'bigworldsmallpockets.com', 'medianLoadTime': 2537},
  {'name': 'wesaidgotravel.com', 'medianLoadTime': 3073},
  {'name': 'zewanderingfrogs.com', 'medianLoadTime': 6059},
  {'name': 'gottakeepmovin.com', 'medianLoadTime': 3033},
  {'name': 'handluggageonly.co.uk', 'medianLoadTime': 3633},
  {'name': 'iamaileen.com', 'medianLoadTime': 4557},
  {'name': 'indianajo.com', 'medianLoadTime': 2977},
  {'name': 'theinsatiabletraveler.com', 'medianLoadTime': 4952},
  {'name': 'jessieonajourney.com', 'medianLoadTime': 4780},
  {'name': 'keepcalmandtravel.com', 'medianLoadTime': 4380},
  {'name': 'alittleadrift.com', 'medianLoadTime': 1356},
  {'name': 'localadventurer.com', 'medianLoadTime': 2749},
  {'name': 'marocmama.com', 'medianLoadTime': 2419},
  {'name': 'betsiworld.com', 'medianLoadTime': 2155},
  {'name': 'travelwiththesmile.com', 'medianLoadTime': 1797},
  {'name': 'travelbooksfood.com', 'medianLoadTime': 3624},
  {'name': 'taylorstracks.com', 'medianLoadTime': 3323},
  {'name': 'thetravellingchilli.com', 'medianLoadTime': 4791},
  {'name': 'silverbackpacker.com', 'medianLoadTime': 7376},
  {'name': 'theworldpursuit.com', 'medianLoadTime': 1818},
  {'name': 'cassidysadventures.com', 'medianLoadTime': 4265}]}

In [59]:
# Writes to output json 
# with open('finalMedianLoadTimeDbInsertion.json', 'w') as fp:
#     json.dump(finalMedianLoadTimeDict, fp)

## Data Format for Average Median Data across all blogs (Des)

In [91]:
medianAllMetricsValuesList = []

for blog in awisMetrics.get('blogs'):
    blogUrl = blog.get('blogUrl')
    usageData = blog.get('blogTraffic').get('usageData')
    if usageData:
        blogThreeMthsUsageData = usageData[0]
    
    trafficRank = blogThreeMthsUsageData.get('rank').get('value')
    reachRank = blogThreeMthsUsageData.get('reach').get('rank').get('value')
    reachPerMillion = blogThreeMthsUsageData.get('reach').get('perMillion').get('value')
    
    PageViewsPerMillion = blogThreeMthsUsageData.get('pageViews').get('perMillion').get('value')
    PageViewsRank = blogThreeMthsUsageData.get('pageViews').get('rank').get('value')
    PageViewsPerUser = blogThreeMthsUsageData.get('pageViews').get('perUser').get('value')
    
    if ',' in str(reachPerMillion):
        reachPerMillion = reachPerMillion.replace(',','')
        print(reachPerMillion)
        reachPerMillion = int(reachPerMillion)
    
    if ',' in str(PageViewsPerMillion):
        PageViewsPerMillion = PageViewsPerMillion.replace(',','')
        print(PageViewsPerMillion)
        PageViewsPerMillion = int(PageViewsPerMillion)
    
    metrics = [trafficRank, reachRank, reachPerMillion, PageViewsPerMillion, PageViewsRank, PageViewsPerUser]
    for idx in range(0, len(metrics)):
        if len(medianAllMetricsValuesList) > idx:
            medianAllMetricsValuesList[idx].append(metrics[idx])  
        else:
            medianAllMetricsValuesList.append([metrics[idx]])
medianAllMetricsValuesList

76740
13568

[[230557,
  954491,
  498332,
  4209032,
  251946,
  1518153,
  127634,
  320052,
  1618472,
  2449731,
  3805995,
  329011,
  5715503,
  2502847,
  547833,
  756495,
  789427,
  2696333,
  1224275,
  1381148,
  190132,
  996850,
  159593,
  159593,
  97581,
  7144084,
  461203,
  461203,
  7981314,
  2825979,
  413882,
  1265463,
  1924764,
  1924764,
  4994823,
  564066,
  564066,
  186120,
  3258628,
  5395615,
  195708,
  5949858,
  2186420,
  193308,
  1677869,
  3722859,
  3030491,
  214022,
  1282215,
  2702542,
  498324,
  498324,
  3370231,
  1051063,
  3926441,
  2665486,
  2150851,
  1455405,
  1455405,
  1221785,
  293275,
  2371323,
  2097077,
  2097077,
  967347,
  536488,
  596802,
  700001,
  1822029,
  1822029,
  1822029,
  7873280,
  3830167,
  1374987,
  1574832,
  1574832,
  1574832,
  1574832,
  2011772,
  8152324,
  8152324,
  8152324,
  193397,
  262301,
  262301,
  311404,
  1018737,
  298359,
  147244,
  259141,
  259141,
  603603,
  708584,
  143621,
  1773001,
  4630327,
  5690637,
  5690637,
  473708,
  473708,
  473708,
  473708,
  473708,
  473708,
  473708,
  473708,
  473708,
  1135799,
  5011611,
  5011611,
  118350,
  118350,
  118350,
  4371632,
  4371632,
  2959893,
  335240,
  335240,
  335240,
  335240,
  335240,
  335240,
  1667180,
  1667180,
  1667180,
  1667180,
  1667180,
  263413,
  2543656,
  2489250,
  2489250,
  2571388,
  1441195,
  902622,
  4,
  22589,
  221910,
  2319627,
  238787,
  192854,
  55510,
  1723635,
  807745,
  128029,
  128029,
  128029,
  55828,
  55828,
  98013,
  128988,
  670175,
  183049,
  412541,
  412541,
  160943,
  6836626,
  6836626,
  3979648,
  3979648,
  3979648,
  3979648,
  3764673,
  3506361,
  1135639,
  1135639,
  1510445,
  77585,
  139153,
  197617,
  1226017,
  169634,
  492196,
  166320,
  101934,
  314849,
  2546649,
  1126751,
  1126751,
  670717,
  491539,
  491539,
  2232109,
  519382,
  519382,
  613012,
  100842,
  100842,
  100842,
  100842,
  100842,
  100842,
  100842,
  100842,
  100842,
  2674208,
  2674208,
  4083449,
  1206970,
  1206970,
  686799,
  1232670,
  1232670,
  1232670,
  714082,
  899927],
 [194027,
  826718,
  426949,
  4018451,
  250469,
  1493975,
  139973,
  314689,
  1558362,
  2549477,
  3568296,
  294982,
  6146686,
  2621712,
  483671,
  981115,
  660673,
  2666142,
  1196394,
  1619656,
  161685,
  945491,
  141276,
  141276,
  78300,
  6713469,
  484715,
  484715,
  8036254,
  3095399,
  368314,
  1155352,
  1711420,
  1711420,
  5318915,
  509679,
  509679,
  157218,
  2987650,
  5878023,
  244824,
  5259788,
  2458452,
  167277,
  1430963,
  3251112,
  3079583,
  186022,
  1365926,
  2502460,
  461216,
  461216,
  3372449,
  929191,
  5080952,
  2455165,
  2095345,
  1604569,
  1604569,
  1145410,
  419491,
  2152522,
  2150624,
  2150624,
  876352,
  459621,
  523387,
  641662,
  1573266,
  1573266,
  1573266,
  7346958,
  4210512,
  1431559,
  1601361,
  1601361,
  1601361,
  1601361,
  1889069,
  8563471,
  8563471,
  8563471,
  179759,
  257684,
  257684,
  277469,
  1000835,
  263675,
  131688,
  228948,
  228948,
  525907,
  648327,
  116779,
  1695607,
  6157236,
  5059465,
  5059465,
  418527,
  418527,
  418527,
  418527,
  418527,
  418527,
  418527,
  418527,
  418527,
  1389039,
  4432077,
  4432077,
  100553,
  100553,
  100553,
  4225513,
  4225513,
  2910744,
  306549,
  306549,
  306549,
  306549,
  306549,
  306549,
  1381048,
  1381048,
  1381048,
  1381048,
  1381048,
  237103,
  2237269,
  3008945,
  3008945,
  2225532,
  1420021,
  887964,
  6,
  19819,
  180601,
  2327723,
  208567,
  171985,
  46049,
  1407501,
  727206,
  114660,
  114660,
  114660,
  51006,
  51006,
  84357,
  114777,
  583905,
  151071,
  374174,
  374174,
  196316,
  6303874,
  6303874,
  4059427,
  4059427,
  4059427,
  4059427,
  3431002,
  3516241,
  1014531,
  1014531,
  1416213,
  63216,
  122545,
  159823,
  1131934,
  164248,
  443519,
  166412,
  88625,
  308313,
  2657200,
  1014474,
  1014474,
  639949,
  424365,
  424365,
  1917545,
  667604,
  667604,
  504742,
  84157,
  84157,
  84157,
  84157,
  84157,
  84157,
  84157,
  84157,
  84157,
  2282172,
  2282172,
  4221809,
  1059787,
  1059787,
  599550,
  1300017,
  1300017,
  1300017,
  604478,
  747283],
 [3,
  0.51,
  1.2,
  0.06,
  2.3,
  0.24,
  4.5,
  1.7,
  0.23,
  0.1,
  0.07,
  1.9,
  0.03,
  0.1,
  1,
  0.41,
  0.68,
  0.1,
  0.3,
  0.22,
  3.8,
  0.43,
  4.4,
  4.4,
  8.9,
  0.03,
  1,
  1,
  0.02,
  0.09,
  1.4,
  0.33,
  0.2,
  0.2,
  0.04,
  0.94,
  0.94,
  3.9,
  0.1,
  0.04,
  2.3,
  0.04,
  0.1,
  3.6,
  0.25,
  0.09,
  0.09,
  3.2,
  0.27,
  0.1,
  1.1,
  1.1,
  0.08,
  0.44,
  0.04,
  0.1,
  0.2,
  0.2,
  0.2,
  0.34,
  1.2,
  0.2,
  0.2,
  0.2,
  0.48,
  1.1,
  0.91,
  0.71,
  0.22,
  0.22,
  0.22,
  0.02,
  0.06,
  0.3,
  0.2,
  0.2,
  0.2,
  0.2,
  0.2,
  0.02,
  0.02,
  0.02,
  3.3,
  2.2,
  2.2,
  2,
  0.4,
  2.1,
  4.8,
  2.5,
  2.5,
  0.91,
  0.7,
  5.6,
  0.21,
  0.03,
  0.04,
  0.04,
  1.2,
  1.2,
  1.2,
  1.2,
  1.2,
  1.2,
  1.2,
  1.2,
  1.2,
  0.3,
  0.05,
  0.05,
  6.6,
  6.6,
  6.6,
  0.06,
  0.06,
  0.1,
  1.8,
  1.8,
  1.8,
  1.8,
  1.8,
  1.8,
  0.3,
  0.3,
  0.3,
  0.3,
  0.3,
  2.4,
  0.15,
  0.1,
  0.1,
  0.1,
  0.26,
  0.47,
  76740,
  37,
  3.3,
  0.1,
  2.8,
  3.5,
  16,
  0.3,
  0.6,
  5.7,
  5.7,
  5.7,
  14,
  14,
  8.1,
  5.7,
  0.8,
  4.1,
  1.4,
  1.4,
  3,
  0.03,
  0.03,
  0.06,
  0.06,
  0.06,
  0.06,
  0.08,
  0.08,
  0.4,
  0.4,
  0.3,
  11,
  5.3,
  3.8,
  0.34,
  3.7,
  1.1,
  3.7,
  7.7,
  1.8,
  0.1,
  0.4,
  0.4,
  0.71,
  1.2,
  1.2,
  0.2,
  0.67,
  0.67,
  0.96,
  8.1,
  8.1,
  8.1,
  8.1,
  8.1,
  8.1,
  8.1,
  8.1,
  8.1,
  0.1,
  0.1,
  0.06,
  0.37,
  0.37,
  0.77,
  0.3,
  0.3,
  0.3,
  0.76,
  0.6],
 [0.11,
  0.02,
  0.04,
  0,
  0.14,
  0.01,
  0.44,
  0.1,
  0.01,
  0.01,
  0,
  0.08,
  0,
  0.01,
  0.04,
  0.08,
  0.02,
  0.01,
  0.02,
  0.02,
  0.14,
  0.02,
  0.19,
  0.19,
  0.29,
  0,
  0.08,
  0.08,
  0,
  0.01,
  0.06,
  0.01,
  0.01,
  0.01,
  0,
  0.04,
  0.04,
  0.14,
  0,
  0,
  0.4,
  0,
  0.01,
  0.14,
  0.01,
  0,
  0,
  0.13,
  0.02,
  0,
  0.05,
  0.05,
  0,
  0.02,
  0.01,
  0,
  0.01,
  0.02,
  0.02,
  0.02,
  0.45,
  0.01,
  0.01,
  0.01,
  0.02,
  0.04,
  0.03,
  0.03,
  0.01,
  0.01,
  0.01,
  0,
  0,
  0.02,
  0.01,
  0.01,
  0.01,
  0.01,
  0.01,
  0,
  0,
  0,
  0.17,
  0.13,
  0.13,
  0.08,
  0.02,
  0.09,
  0.22,
  0.1,
  0.1,
  0.03,
  0.03,
  0.19,
  0.01,
  0.01,
  0,
  0,
  0.05,
  0.05,
  0.05,
  0.05,
  0.05,
  0.05,
  0.05,
  0.05,
  0.05,
  0.04,
  0,
  0,
  0.26,
  0.26,
  0.26,
  0,
  0,
  0,
  0.08,
  0.08,
  0.08,
  0.08,
  0.08,
  0.08,
  0.01,
  0.01,
  0.01,
  0.01,
  0.01,
  0.11,
  0,
  0.01,
  0.01,
  0,
  0.01,
  0.03,
  13568,
  1.79,
  0.11,
  0.01,
  0.11,
  0.16,
  0.67,
  0.01,
  0.02,
  0.26,
  0.26,
  0.26,
  0.81,
  0.81,
  0.33,
  0.25,
  0.03,
  0.14,
  0.06,
  0.06,
  0.47,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0.02,
  0.02,
  0.01,
  0.4,
  0.22,
  0.12,
  0.01,
  0.22,
  0.05,
  0.24,
  0.32,
  0.1,
  0.01,
  0.02,
  0.02,
  0.03,
  0.04,
  0.04,
  0.01,
  0.13,
  0.13,
  0.03,
  0.3,
  0.3,
  0.3,
  0.3,
  0.3,
  0.3,
  0.3,
  0.3,
  0.3,
  0,
  0,
  0,
  0.01,
  0.01,
  0.03,
  0.02,
  0.02,
  0.02,
  0.03,
  0.02],
 [364383,
  1356390,
  740438,
  4829617,
  299958,
  1728808,
  123807,
  383326,
  1905568,
  2445021,
  4468712,
  463868,
  5489552,
  2456378,
  776446,
  460752,
  1184086,
  2939590,
  1437594,
  1135425,
  299076,
  1236630,
  237290,
  237290,
  172082,
  7992335,
  481855,
  481855,
  8034771,
  2513830,
  586598,
  1649362,
  2495610,
  2495610,
  4674522,
  771344,
  771344,
  296138,
  3976639,
  4931063,
  133650,
  6891661,
  1946363,
  295633,
  2301889,
  4766674,
  3182352,
  323872,
  1276214,
  3299865,
  658474,
  658474,
  3632069,
  1444900,
  2203238,
  3280312,
  2490901,
  1365855,
  1365855,
  1539553,
  121286,
  2942883,
  2248091,
  2248091,
  1289090,
  794215,
  850837,
  930323,
  2444164,
  2444164,
  2444164,
  8782632,
  3397634,
  1424869,
  1709149,
  1709149,
  1709149,
  1709149,
  2466163,
  7520548,
  7520548,
  7520548,
  262173,
  317792,
  317792,
  444972,
  1194111,
  432534,
  215697,
  378694,
  378694,
  868586,
  944479,
  244170,
  2115688,
  2733738,
  6661468,
  6661468,
  675393,
  675393,
  675393,
  675393,
  675393,
  675393,
  675393,
  675393,
  675393,
  824654,
  6084285,
  6084285,
  189396,
  189396,
  189396,
  4859270,
  4859270,
  3276680,
  457166,
  457166,
  457166,
  457166,
  457166,
  457166,
  2366349,
  2366349,
  2366349,
  2366349,
  2366349,
  373029,
  3305017,
  1775167,
  1775167,
  3402347,
  1643439,
  1056013,
  3,
  36352,
  368134,
  2483841,
  356593,
  280646,
  87522,
  2473067,
  1096781,
  188672,
  188672,
  188672,
  75107,
  75107,
  155166,
  192045,
  960978,
  301334,
  567750,
  567750,
  116532,
  7777352,
  7777352,
  4101848,
  4101848,
  4101848,
  4101848,
  4605079,
  3761375,
  1539939,
  1539939,
  1856709,
  134023,
  210228,
  333339,
  1580565,
  214630,
  679507,
  196848,
  158787,
  380544,
  2516261,
  1511716,
  1511716,
  836593,
  723634,
  723634,
  2994528,
  319399,
  319399,
  950408,
  167496,
  167496,
  167496,
  167496,
  167496,
  167496,
  167496,
  167496,
  167496,
  3584813,
  3584813,
  4079678,
  1667746,
  1667746,
  980509,
  1254490,
  1254490,
  1254490,
  1061221,
  1354384],
 [1.4,
  1.3,
  1.3,
  1,
  2.3,
  2,
  3.6,
  2.2,
  2,
  2,
  1,
  1.6,
  2,
  2,
  1.4,
  7.3,
  1.2,
  2,
  2,
  3.9,
  1.4,
  1.7,
  1.6,
  1.6,
  1.2,
  1,
  2.8,
  2.8,
  2,
  3,
  1.5,
  1,
  1,
  1,
  2,
  1.6,
  1.6,
  1.4,
  1,
  2,
  6.3,
  1,
  3,
  1.5,
  1,
  1,
  2,
  1.5,
  3,
  1,
  2,
  2,
  2,
  1.3,
  7,
  1,
  2,
  3,
  3,
  2,
  14,
  1,
  2,
  2,
  1.5,
  1.3,
  1.4,
  1.6,
  1,
  1,
  1,
  1,
  3,
  2,
  2,
  2,
  2,
  2,
  1,
  2,
  2,
  2,
  1.9,
  2.2,
  2.2,
  1.6,
  1.9,
  1.5,
  1.7,
  1.6,
  1.6,
  1.4,
  1.6,
  1.2,
  2,
  7,
  1,
  1,
  1.5,
  1.5,
  1.5,
  1.5,
  1.5,
  1.5,
  1.5,
  1.5,
  1.5,
  5,
  1,
  1,
  1.4,
  1.4,
  1.4,
  1,
  1,
  2,
  1.7,
  1.7,
  1.7,
  1.7,
  1.7,
  1.7,
  1,
  1,
  1,
  1,
  1,
  1.6,
  1,
  4,
  4,
  1,
  2,
  2.0,
  6.56,
  1.8,
  1.2,
  2,
  1.5,
  1.6,
  1.6,
  1,
  1.5,
  1.7,
  1.7,
  1.7,
  2.1,
  2.1,
  1.5,
  1.6,
  1.4,
  1.3,
  1.6,
  1.6,
  5.8,
  1,
  1,
  2,
  2,
  2,
  2,
  1,
  2,
  1,
  1,
  2,
  1.3,
  1.6,
  1.2,
  2,
  2.2,
  1.6,
  2.5,
  1.6,
  2.2,
  2,
  1,
  1,
  1.8,
  1.4,
  1.4,
  1,
  7.2,
  7.2,
  1.1,
  1.4,
  1.4,
  1.4,
  1.4,
  1.4,
  1.4,
  1.4,
  1.4,
  1.4,
  1,
  1,
  2,
  1,
  1,
  1.4,
  3,
  3,
  3,
  1.2,
  1]]

In [97]:
medianDataList = []
medianMetricsNameList = ['trafficRank', 'reachRank', 'reachPerMillion', 'PageViewsPerMillion', 'PageViewsRank', 'PageViewsPerUser']
medianMetricsValuesList = [median(metricList) for metricList in medianAllMetricsValuesList]
for idx in range(0, len(medianMetricsNameList)):
    medianDataList.append({
        'name': medianMetricsNameList[idx],
        'value': medianMetricsValuesList[idx]
    })
finalMedianMetricsData = {'medianDataAllBlogs': {'threeMths':medianDataList}}
finalMedianMetricsData

{'medianDataAllBlogs': {'threeMths': [{'name': 'trafficRank', 'value': 899927},
   {'name': 'reachRank', 'value': 826718},
   {'name': 'reachPerMillion', 'value': 0.51},
   {'name': 'PageViewsPerMillion', 'value': 0.02},
   {'name': 'PageViewsRank', 'value': 1096781},
   {'name': 'PageViewsPerUser', 'value': 1.6}]}}

In [98]:
# Writes to output json 
# with open('finalMedianMetricsDbInsertion.json', 'w') as fp:
#     json.dump(finalMedianMetricsData, fp)

## Data Generation for all daily historical blog metrics (Des)

In [93]:
from random import uniform, randint

def generateDailyHistoricalData(randomAverage):
    
    historicalDataDict = {}
    rand1, rand2, rand3, rand4 = 0,0,0,0 
    
    while not rand1: 
        rand1 = round(uniform(randomAverage-0.5, randomAverage+0.5),2)
    while not rand2: 
        rand2 = round(uniform(randomAverage-2, randomAverage+0.2),2)
    while not rand3: 
        randomAverageLarge = randomAverage*100000
        rand3 = round(uniform(randomAverageLarge-50000, randomAverageLarge+10000))
    while not rand4: 
        rand4 = round(uniform(randomAverage-0.5, randomAverage+0.5),2)
            
    historicalDataDict = {  
        "pageViews": {
            "perMillion": rand1,
            "perUser": rand2
        },
        "rank": rand3,
        "reach": {
            "perMillion": rand4
        }
    }
    return historicalDataDict
generateDailyHistoricalData(10)

{'pageViews': {'perMillion': 10.17, 'perUser': 9.09},
 'rank': 972003,
 'reach': {'perMillion': 10.35}}

In [94]:
import datetime
# numDays = 31
# startDate = '2019-11-01'
# startDate = datetime.date(int(startDate.split('-')[0]), int(startDate.split('-')[1]), int(startDate.split('-')[2]))
# for timedelta in range(1, numDays+1):  
#     date = startDate - datetime.timedelta(timedelta) 
#     print(date)

# startDate = '2019-11-05' 
def generateTimePeriodHistoricalData(startDate):
    allHistoricalData = []
    startDate = datetime.date(int(startDate.split('-')[0]), int(startDate.split('-')[1]), int(startDate.split('-')[2]))
    randomAverage = randint(1, 10)
    for timedelta in range(1, numDays+1):  
        date = startDate - datetime.timedelta(timedelta) 
        historicalData = generateDailyHistoricalData(randomAverage)
        dateDict = {'date': str(date)}
        dateDict.update(historicalData)
        allHistoricalData.append(dateDict)
#         print(historicalData)
    return {'historicalData': allHistoricalData}
generateTimePeriodHistoricalData('2019-11-12')

{'historicalData': [{'date': '2019-11-11',
   'pageViews': {'perMillion': 10.24, 'perUser': 9.9},
   'rank': 987706,
   'reach': {'perMillion': 10.49}},
  {'date': '2019-11-10',
   'pageViews': {'perMillion': 9.99, 'perUser': 9.74},
   'rank': 1008567,
   'reach': {'perMillion': 10.1}},
  {'date': '2019-11-09',
   'pageViews': {'perMillion': 10.47, 'perUser': 8.15},
   'rank': 951641,
   'reach': {'perMillion': 9.91}},
  {'date': '2019-11-08',
   'pageViews': {'perMillion': 9.99, 'perUser': 8.46},
   'rank': 984320,
   'reach': {'perMillion': 10.39}},
  {'date': '2019-11-07',
   'pageViews': {'perMillion': 10.23, 'perUser': 8.35},
   'rank': 982429,
   'reach': {'perMillion': 10.45}},
  {'date': '2019-11-06',
   'pageViews': {'perMillion': 10.23, 'perUser': 9.4},
   'rank': 1003079,
   'reach': {'perMillion': 10.01}},
  {'date': '2019-11-05',
   'pageViews': {'perMillion': 9.51, 'perUser': 9.03},
   'rank': 1009716,
   'reach': {'perMillion': 9.56}},
  {'date': '2019-11-04',
   'pageViews': {'perMillion': 9.93, 'perUser': 8.46},
   'rank': 963976,
   'reach': {'perMillion': 10.07}},
  {'date': '2019-11-03',
   'pageViews': {'perMillion': 10.08, 'perUser': 8.41},
   'rank': 966133,
   'reach': {'perMillion': 10.16}},
  {'date': '2019-11-02',
   'pageViews': {'perMillion': 10.25, 'perUser': 9.35},
   'rank': 989857,
   'reach': {'perMillion': 10.43}},
  {'date': '2019-11-01',
   'pageViews': {'perMillion': 10.07, 'perUser': 8.91},
   'rank': 976259,
   'reach': {'perMillion': 10.24}},
  {'date': '2019-10-31',
   'pageViews': {'perMillion': 10.13, 'perUser': 10.03},
   'rank': 958628,
   'reach': {'perMillion': 10.28}},
  {'date': '2019-10-30',
   'pageViews': {'perMillion': 9.63, 'perUser': 8.62},
   'rank': 954773,
   'reach': {'perMillion': 9.63}},
  {'date': '2019-10-29',
   'pageViews': {'perMillion': 9.88, 'perUser': 8.57},
   'rank': 966455,
   'reach': {'perMillion': 10.02}},
  {'date': '2019-10-28',
   'pageViews': {'perMillion': 10.18, 'perUser': 9.34},
   'rank': 1003332,
   'reach': {'perMillion': 10.19}},
  {'date': '2019-10-27',
   'pageViews': {'perMillion': 10.09, 'perUser': 9.02},
   'rank': 959613,
   'reach': {'perMillion': 10.44}},
  {'date': '2019-10-26',
   'pageViews': {'perMillion': 10.34, 'perUser': 9.75},
   'rank': 953793,
   'reach': {'perMillion': 10.48}},
  {'date': '2019-10-25',
   'pageViews': {'perMillion': 10.29, 'perUser': 8.94},
   'rank': 962868,
   'reach': {'perMillion': 9.53}},
  {'date': '2019-10-24',
   'pageViews': {'perMillion': 10.13, 'perUser': 8.28},
   'rank': 980627,
   'reach': {'perMillion': 9.64}},
  {'date': '2019-10-23',
   'pageViews': {'perMillion': 9.82, 'perUser': 9.78},
   'rank': 986693,
   'reach': {'perMillion': 9.53}},
  {'date': '2019-10-22',
   'pageViews': {'perMillion': 10.3, 'perUser': 8.55},
   'rank': 964017,
   'reach': {'perMillion': 9.98}},
  {'date': '2019-10-21',
   'pageViews': {'perMillion': 10.43, 'perUser': 8.71},
   'rank': 986342,
   'reach': {'perMillion': 10.06}},
  {'date': '2019-10-20',
   'pageViews': {'perMillion': 9.55, 'perUser': 8.76},
   'rank': 968753,
   'reach': {'perMillion': 9.55}},
  {'date': '2019-10-19',
   'pageViews': {'perMillion': 9.9, 'perUser': 8.08},
   'rank': 964796,
   'reach': {'perMillion': 10.42}},
  {'date': '2019-10-18',
   'pageViews': {'perMillion': 10.43, 'perUser': 9.9},
   'rank': 964211,
   'reach': {'perMillion': 10.14}},
  {'date': '2019-10-17',
   'pageViews': {'perMillion': 9.61, 'perUser': 9.2},
   'rank': 968066,
   'reach': {'perMillion': 9.75}},
  {'date': '2019-10-16',
   'pageViews': {'perMillion': 10.39, 'perUser': 9.57},
   'rank': 957894,
   'reach': {'perMillion': 10.17}},
  {'date': '2019-10-15',
   'pageViews': {'perMillion': 10.26, 'perUser': 10.2},
   'rank': 985341,
   'reach': {'perMillion': 9.64}},
  {'date': '2019-10-14',
   'pageViews': {'perMillion': 9.85, 'perUser': 9.97},
   'rank': 996270,
   'reach': {'perMillion': 10.12}},
  {'date': '2019-10-13',
   'pageViews': {'perMillion': 10.26, 'perUser': 8.2},
   'rank': 955376,
   'reach': {'perMillion': 9.95}},
  {'date': '2019-10-12',
   'pageViews': {'perMillion': 10.42, 'perUser': 8.03},
   'rank': 954446,
   'reach': {'perMillion': 10.26}}]}

In [95]:
for blog in tempBlogsAWISMetrics.get('blogs'):
    blog.get('blogTraffic').update(generateTimePeriodHistoricalData('2019-11-12'))

In [96]:
# Writes to output json 
# with open('finalBlogsAWISMetricsDbInsertion.json', 'w') as fp:
#     json.dump(tempBlogsAWISMetrics, fp)